# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django stuff
db.sqlite3
*.log

# Static & media
/staticfiles/
/media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/